.resume {
     background-color: #17a2b8;
    
}
.resume button{
    color: white;
    background-color: #17a2b8;
}
.resume{
    background-color: #f9f9f9;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.resume:hover {
    transform: translateX(-5px);
    box-shadow: 0 5px 15px  #17a2b8;
    border-radius: 10%;
}
.resume h3{
    
    color:#17a2b8; 
     margin-bottom: 0.5rem;
 }  
 .resume h1{
    color: #17a2b8;
 }
 .navbar-brand {
    font-style: oblique;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #17a2b8;
 }
 